/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #F8EDC7;     /* light cream */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Main Quiz Box */
#box {
  width: 380px;
  background: #ffffff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Heading */
h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 16px;
  color: #5FB6A8;      /* teal green */
  letter-spacing: 1px;
}

/* Timer */
.timer {
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  color: #EBA23B;      /* warm orange */
}

/* Question */
.question {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Options */
.options p {
  padding: 12px;
  margin: 6px 0;
  border: 2px solid #A7D7BD;      /* soft mint border */
  border-radius: 10px;
  background: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

button{
    background-color: red;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}













/* // button.addEventListener("click", () => {
//   if (questionNumber === data.length - 1) {
//     quiz.style.display = "none";
//     displayScore();
//     return;
//   }
//   questionNumber++;
//   resetOptions();
//   printquesandoption();
//   timer = 5;               // timer reset
//   timerDiv.innerText = timer;
// }); */